@import 'variables';

$sidebar-width: 350px;

:host {
  margin: ($grid-offset-step * 2) ($grid-offset-step * 3);
}

.lab-sidebar {
  width: $sidebar-width;
  margin-right: $grid-offset-step;

  &__title {
    width: $sidebar-width;
    margin-right: $grid-offset-step;
    margin-bottom: $grid-offset-step;
  }

  &__title-label {
    margin-bottom: $grid-offset-step;
    font-weight: 600;
    font-size: 15px;
  }

  .lab-step-learn {
    margin-right: $grid-offset-step;
  }

  .lab-steps-code {
    margin-left: $grid-offset-step;
  }

  .lab-step-code {
    width: 46px;
  }
}

.lab-task-title {
  margin-bottom: $grid-offset-step * 2;
}

.lab-code {
  max-width: 500px;

  &__lang {
    margin-bottom: $grid-offset-step;
  }

  &__edit {
    height: 300px;
    padding: $grid-offset-step * 2;
  }
}

.lab-footer {
  margin-top: $grid-offset-step * 2;
}

.lab-btn-run {
  align-self: baseline;
}

.lab-result {
  white-space: pre-wrap;
  padding: $grid-offset-step * 2;
  margin-top: $grid-offset-step * 2;
  background: #fafafa;
  width: 500px;
  border: 1px solid #efefef;
  border-radius: 2px;

  &.lab-error {
    border-color: #de6868;
  }

  &.lab-success {
    border-color: #5ba05b;
  }
}

.lab-btn-logout {
  margin-left: $grid-offset-step;
}

.lab-spin {
  margin-left: $grid-offset-step * 4;
}

.lab-stat-list {
  user-select: none;
  cursor: pointer;

  &__item {
    width: 100%;
  }

  &__date {
    font-size: 11px;
  }

  .lab-error {
    background: rgba(#de6868, 0.2);
  }

  .lab-success {
    background: rgba(#5ba05b, 0.2);
  }
}

.lab-stat {
  &__lang {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: $grid-offset-step;
  }

  &__code {
    white-space: pre-wrap;
    padding: $grid-offset-step * 2;
    background: #fafafa;
    border: 1px solid #efefef;
    border-radius: 2px;
  }

  &__failed {
    color: #de6868;
  }

  &__passed {
    margin-top: $grid-offset-step;
    color: #5ba05b;
  }
}
